@import '~bootstrap/scss/bootstrap';

.card-deck {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.post-index {
  text-align: center;
}

.post-show {
  text-align: center;
}
